html, body {
  box-sizing: border-box;
  padding: 0 25px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  aspect-ratio: 1 / 1;
  height: 820px;
}

.gridrow {
  justify-content: center;
  height: 100%;
}

.container, .gridrow {
  display: flex;
}

.square {
  flex: 1;
  aspect-ratio: 1 / 1;
  background-color: #ddd;
  border: 1px solid white;
}

.square-focus {
  background-color: #444;
}

.square-trail {
  background-color: #888;
}
