html, body {
  box-sizing: border-box;
  padding: 0 25px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.gridrow {
  justify-content: center;
}

.container, .gridrow {
  display: flex;
  width: 100%;
}

.square {
  flex: 1;
  max-width: 50px;
  aspect-ratio: 1 / 1;
  background-color: #ddd;
  border: 1px solid white;
}

.square-focus {
  background-color: #444;
}

.square-trail {
  background-color: #888;
}
